@media only screen and (min-width: 818px) {
  h1 {
    text-align: center;
  }

  .topnav a.icon {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}

h1 {
  text-align: center;
}

.topnav {
  overflow: hidden;

  background-color: white;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  text-align: center;
  color: black;
  padding: 18px 17px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  position: absolute;
  right: 0;
  top: 0;
}

footer {
  position: fixed;
  bottom: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: white;
  display: none; /* Hidden by default */
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Show navbar only for desktop screens (min-width: 1024px) */
@media only screen and (min-width: 1024px) {
  .navbar {
    display: flex; /* Make it visible on desktop */
    justify-content: space-around;
    align-items: center;
  }
}

