@media only screen and (max-width: 1125px) {
	h1{
		text-align:center;
	}
.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  width: auto;
  background-color:white;
  text-align:center;
  color: black;
  padding: 18px 17px;
  text-decoration: none;
  font-size: 13px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
 
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}


}
